@import '../../css/variables.css';

.project-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  white-space: pre-line;
}

.status-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;

  border-top: solid 1px var(--servesa-dark);
}

.status-content {
  color: var(--white);
}
