.app {
  padding: 0 1em 1em 1em;
  color: #ddd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
}


.accent {
  font-family: 'Rock-Salt';
}

.mono {
  font-family: 'Roboto-Mono'
}

h2,
h3 {
  font-weight: normal;
}

h2 {
  padding-bottom: 0.125em;
  border-bottom: solid 1px;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  line-height: 1.4em;
}

a {
  color: #2ec7fe;
  text-decoration: none;
  transition: 120ms ease-in-out;
}

a:hover {
  color: yellow;
}


header {
  padding-top: 1em;
}

header img {
  float: left;
  margin-left: -8px;
  max-height: 65px;
}

header h1 {
  margin: 0;
  padding-left: 0.167em;
  color: #ff3636;
  font-size: 36px;
  letter-spacing: 0.1em;

  background: -webkit-linear-gradient(yellow, #ff3636);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header p {
  margin-top: -10px;
}

.serif {
  font-family: serif;
}

.project {
  margin-top: 1em;
  padding: 1em;
}

.project-type {
  text-transform: uppercase;
  font-size: smaller;
  font-family: 'Roboto-Bold';
  letter-spacing: 0.067em;
  color: #b9b9b9;
}

.project-tech {
  display: inline-block;
  margin-bottom: 0.5em;
  font-size: smaller;
  padding: 4px 8px;
  border-radius: 2px;
  margin-right: 1em;
  border: solid 1px;
  color: #b9b9b9;
}

.project-link {
  float: right;
  margin: 0 0 1em 0;
  padding: .5em;
  text-transform: uppercase;
  font-size: smaller;
  font-family: 'Roboto-Bold';
}



/* Contact */
#contact {
  color: #ddd;
  background: transparent;
  font-size: smaller;
}

.contact-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
}

.contact-grid img {
  padding-top: 2px;
  padding-right: 7px;
  float: left;
}

@media screen and (min-width: 999px) {
  /* .app {
    padding: 0;
  } */

  .container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }

  header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #contact {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  #project-grid {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    margin-right: 2em;
  }

  #article-grid {}

  .project {
    margin-bottom: 1em;
  }

  .featured {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}