.app {
  padding: 0 1em 1em 1em;
  color: #ddd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 1em;
}


.accent {
  font-family: 'Rock-Salt';
}

.mono {
  font-family: 'Roboto-Mono'
}

a {
  color: #36a8ff;
  text-decoration: none;
  transition: 120ms ease-in-out;
}

a:hover {
  color: yellow;
}

.featured a {
  color: #ff3636;
}

.featured a:hover {
  color: yellow;
}


header {
  padding-top: 1em;
}

header img {
  float: left;
  margin-left: -8px;
  max-height: 65px;
}

header h1 {
  margin: 0;
  padding-left: 0.167em;
  color: #ff3636;

  background: -webkit-linear-gradient(yellow, #ff3636);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header p {
  margin-top: -10px;
}

#demo-grid {
  display: grid;
  grid-gap: 2em;
}

.project-type {
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
  letter-spacing: 0.167em;
  color: #999999;
}

.project-tech {
  display: inline-block;
  margin-bottom: 0.5em;

  font-size: smaller;
  padding: 4px 8px;
  border-radius: 2px;
  margin-right: 1em;
  border: solid 1px;
  color: #999999;
}



/* Contact */
#contact {
  color: #ddd;
  background: transparent;
  padding: 1em 0 0 0;
  font-size: smaller;
}

.contact-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  align-items: center;
}

.contact-grid img {
  padding-top: 2px;
  padding-right: 7px;
  float: left;
}

@media screen and (min-width: 992px) {
  .app {
    padding: 0;
  }

  .container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }

  header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #contact {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  #demo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .featured {

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}