.app {
  padding: 0 1em 1em 1em;
  color: #ddd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
}


.accent {
  font-family: 'Rock-Salt';
}

.mono {
  font-family: 'Roboto-Mono'
}

h2,
h3 {
  font-weight: normal;
}

h2 {
  padding-bottom: 0.125em;
  border-bottom: 1px solid #4c4b4b;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  line-height: 1.4em;
}

a {
  color: #2ec7fe;
  text-decoration: none;
  transition: 120ms ease-in-out;
}

a:hover {
  color: yellow;
}


/* Header */

header {
  padding-top: 1em;
}

header img {
  float: left;
  margin-left: -8px;
  max-height: 65px;
}

header h1 {
  font-family: 'Roboto-Bold';
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 0.25em;
}

header p {
  margin-top: -10px;
}

.serif {
  font-family: serif;
}

.project {
  margin-bottom: 1.5em;
  padding: 0 1em 1em 1em;
  background: #1d1d1d;
  border: solid 1px #2d2d2d;
  border-right: solid 1px #232323;
  border-bottom: solid 1px #232323;
  box-shadow: 2px 2px 6px #1f1f1f;
}

.project-tech {
  display: inline-block;
  margin-bottom: 0.5em;
  font-size: smaller;
  padding: 4px 8px;
  border-radius: 2px;
  margin-right: 1em;
  border: solid 1px;
  color: #b9b9b9;
}


/* Contact */
#contact {
  color: #ddd;
  background: transparent;
  font-size: smaller;
}

.contact-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-items: center;
}

.contact-grid img {
  padding-top: 2px;
  padding-right: 7px;
  float: left;
}

@media screen and (min-width: 999px) {
  /* .app {
    padding: 0;
  } */

  .container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .grid {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
  }

  header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #contact {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 8;
  }

  #project-grid {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-right: 2em;
  }

  #article-grid {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 8;
  }

  /* .featured {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  } */
}