:root {
  --black: #282929;
  --white: #dddddd;
  --link-blue: #60c8e8;
  
  /* Calculated from lighten($black, 9) */
  --servesa-dark: #3a3b3b;
  /* Calculated from lighten($black, 23) */
  --servesa-medium: #4f5050;
  /* Calculated from lighten($black, 60) */
  --servesa-gray: #9a9b9b;
  
  --box-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

