@import '../../css/variables.css';

.post-title {
  color: var(--white);
  margin: 14px 0;
  font-size: 28px;
  line-height: 34px;
}

.date {
  color: #888;
  font-size: small;
  min-height: 1rem;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.excerpt {
  font-size: smaller;
  margin-top: 12px;
  color: var(--servesa-gray);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.tag {
  display: inline-block;

  color: var(--servesa-gray);
  line-height: initial;
  font-size: smaller;
  text-transform: uppercase;
  padding: 5px 8px 4px;

  border: solid 2px var(--servesa-dark);
  border-radius: 3px;

  margin: 0 8px 6px 0;
}

a.tag:hover {
  color: var(--link-blue);
  border: solid 2px var(--link-blue);
}

hr {
  border-top: solid 2px var(--servesa-gray);
  margin: 2rem 0;
}

/* Post */
.post-card {
  padding: 22px;
  background: var(--black);
  border: solid 1px #2d2d2d;
  border-right: solid 1px #232323;
  border-bottom: solid 1px #232323;
  box-shadow: 2px 2px 6px #1f1f1f;
}

.post-img {
  height: 200px;
  overflow: hidden;
  background-position: top;
  background-size: cover;

  margin: 0 -0.25rem;
  box-shadow: inset 0 0 9px #222;
}
